@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
    150deg,
    hsl(0deg 0% 0%) 20%,
    hsl(274deg 20% 13%) 70%,
    hsl(275deg 39% 22%) 85%,
    hsl(283deg 100% 27%) 100%
  );
  color: #fff;
  user-select: none;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-logo {
  margin: 0 4rem;
  width: 100px;
  mix-blend-mode: screen;
}

#nav-logo:hover {
  content: url("./img/oni-invert.png");
}

.list-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6rem;
}

ul {
  list-style: none;
  width: 100%;
}

.main-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease;
}

.contact-links a {
  width: 100px;
  height: 100px;
}

nav li {
  transition: all 0.5s ease;
}

.main-nav a {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.5rem;
}

nav a:visited {
  text-decoration: none;
}

nav a:active {
  text-decoration: none;
}

nav a:hover {
  color: #adff2f;
  text-decoration: none;
  text-shadow: 0 3px 5px #ba4aaf;
}

nav li:hover {
  transform: scale(1.05);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #221338a8;
  box-shadow: 0 2px 20px #4a6930;
  padding: 1rem 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  background-color: #09070ca8;
  border-radius: 0.5rem;
}

label[for="toggle"] {
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 6;
  font-size: 3rem;
  cursor: pointer;
}

.dropdown,
.fa-bars,
#toggle {
  display: none;
}

.fa-bars::before {
  display: none;
}

#about {
  display: flex;
  justify-content: right;
  font-size: 1.5rem;
  width: 100%;
}

.text-container {
  width: 30%;
  text-align: justify;
  margin-right: 10rem;
}

.contact {
  width: 100%;
  height: 100px;
}

.contact-links {
  width: 100%;
  height: 100px;
}

.contact-logo {
  width: 90px;
  height: 90px;
}

footer {
  width: 100%;
  height: 5rem;
  position: absolute;
  bottom: 0;
  background-color: #09070ca8;
  display: flex;
  justify-content: center;
}

footer p {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .main-nav {
    justify-content: center;
  }

  .list-container {
    display: none;
  }

  .fa-bars::before {
    display: block;
  }

  .dropdown {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
  }

  #toggle:checked ~ .dropdown {
    top: 0;
  }

  .dropdown ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 70vh;
    margin: 4rem 0 0;
    padding: 0;
    transition: top 1s;
  }

  .dropdown ul li {
    margin: 0;
    padding: 0;
  }

  .dropdown li a {
    padding: 2px 0 10px 30px;
    text-decoration: none;
  }
}
